* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

.title-text {
    color: white;
    text-align: center;
    background-color: blue;
    border: 2px white solid;
    border-color: white;
    padding: 5px;
    border-left: 0px solid;
    border-right: 0px solid;
    border-top: 0px solid;
}

.v-line {
    border: 1px white solid;
    background-color: white;
    margin-left: 50%;
    margin-right: 50%;
    height: 74vh;
    position: fixed;
}

a:hover {
    background-color: red;
}

a {
    color: yellow;
    font-size: 50px;
}

.div-low-thing {
    border: 1px white solid;
}

.asdsa {
    left: 100px;
}